<div class="panel-container">
    <div class="panel-item" (click)="redirectTo('')">
        <div class="panel-icon" >
            <img src="assets/panel-icon.png" alt="">
        </div>
        <div>
            Домой
        </div>
    </div>
    <div class="panel-item" (click)="redirectTo('/events')">
        <div class="panel-icon" >
            <img src="assets/panel-icon.png" alt="">
        </div>
        <div>
            Мероприятие
        </div>
    </div>
    <div class="panel-item" (click)="redirectTo('/history')">
        <div class="panel-icon">
            <img src="assets/panel-icon.png" alt="">
        </div>
        <div>
            История
        </div>
    </div>
    <div class="panel-item" (click)="redirectTo('map')">
        <div class="panel-icon" >
            <img src="assets/panel-icon.png" alt="">

        </div>
        <div>
            Карта
        </div>
    </div>
</div>